.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 768px) {
   .App {
     grid-template-columns: auto auto;
   }
}
@media only screen and (max-width: 425px) {
   .App {
     grid-template-columns: auto;
   }
}
.cell {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

input[type=number] {
  width: 25%;
  height: 40px;
  padding: 2px;
  margin: 5px; 
}

.cell > div {
  flex-grow: 1;
}

.cell img {
  width: 10rem;
}